[submodule "libultraship"]
	path = libultraship
	url = https://github.com/Botopai50/libultrashipTEST1.git
	branch = main
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
